<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>

    <body>
        {% block body %}
            <header>
                <section id="logo">
                    <a href="{{ path("homepage") }}">
                        <img src="{{ asset('images/logo.png') }}">
                        <p>La diététique à domicile</p>
                    </a>
                </section>
                <nav>
                    <ul>
                        <li><a href="{{ path("homepage") }}"><img src="{{ asset('images/home.png') }}"></a></li>
                        <li><a href="{{ path("coaching") }}">coaching diététique</a></li>
                        <li><a href="{{ path("prestations") }}">prestations externes</a></li>
                        <li><a href="{{ path("tarifs") }}">tarifs</a></li>
                        <li><a href="{{ path("quisuisje") }}">qui suis-je ?</a></li>
                    </ul>
                </nav>
            </header>

            <div id="breadcrumb">
                <ul>
                    <li><a href="{{ path("homepage") }}"><img src="{{ asset('images/home.png') }}"></a></li>
                    <li>{% block breadcrumbFirst %}{% endblock %}</li>
                </ul>
            </div>

            <div style="clear:both;"></div>

            <section id="main">
                <section id="content">
                    <h1>{% block mainTitle %}{% endblock %}</h1>
                    <hr id="title-bar">
                    {% block content %}
                    {% endblock %}
                    {% block contact %}
                        <section id="actions">
                            <div>
                                <a href="{{ path("contact") }}"><button id="devis">Demander un devis</button></a>
                                <a href="{{ path("contact") }}"><button id="contact">Me contacter</button></a>
                            </div>
                        </section>
                    {% endblock %}
                </section>

                <section id="contextual">
                    <nav>
                        <ul>
                            <li id="zones">
                                <a href="{{ path("zones") }}">
                                    <div class="menu-label">zone d'intervention</div>
                                    <div class="picto"><img src="{{ asset('images/zones.png') }}" /></div>
                                </a>
                            </li>
                            <li id="therapeutique">
                                <a href="{{ path("dietetique") }}">
                                    <div class="menu-label">diététique thérapeutique</div>
                                    <div class="picto"><img src="{{ asset('images/therapeutique.png') }}" /></div>
                                </a>
                            </li>
                            <li id="idees">
                                <a href="{{ path("idees") }}">
                                    <div class="menu-label">idées recettes</div>
                                    <div class="picto"><img src="{{ asset('images/idees.png') }}" /></div>
                                </a>
                            </li>
                            <li id="semainier">
                                <a href="{{ path("semainier") }}">
                                    <div class="menu-label">semainier</div>
                                    <div class="picto"><img src="{{ asset('images/semainier.png') }}" /></div>
                                </a>
                            </li>
                            <li id="temoignages">
                                <a href="{{ path("temoignages") }}">
                                    <div class="menu-label">témoignages patients</div>
                                    <div class="picto"><img src="{{ asset('images/temoignages.png') }}" /></div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <section id="portrait">
                        <a href="{{ path("quisuisje") }}">
                            <h2>Sophie Paulin</h2>
                            <h3>Diététicienne nutritioniste</h3>
                            <img src="{% block portrait %}{{ asset('images/soso-' ~ random(3) ~ '.jpg') }}{% endblock %}"/>
                        </a>
                    </section>
                    <section id="actu">
                        <a href="{{ path("actu") }}">
                            <h2>Actu nutrition</h2>
                            <h3>Un nouveau regard sur l'étiquetage nutritionnel</h3>
                            <img src="{{ asset('images/actu.png') }}">
                        </a>
                    </section>
                </section>
            </section>
            <div style="clear:both;"></div>

            <footer>
                <div id="container">
                    <section id="logo-footer"><a><img src="{{ asset('images/logo-footer.png') }}"></a></section>
                    <section id="menu-first">
                        <ul>
                            <li><a href="{{ path("coaching") }}">Coaching diététique</a></li>
                            <li><a href="{{ path("prestations") }}">Préstations externes</a></li>
                            <li><a href="{{ path("tarifs") }}">Tarifs</a></li>
                            <li><a href="{{ path("quisuisje") }}">Qui suis-je ?</a></li>
                        </ul>
                    </section>
                    <section id="menu-contextual">
                        <ul>
                            <li><a href="{{ path("zones") }}">Zones d'intervention</a></li>
                            <li><a href="{{ path("temoignages") }}">Témoignages patients</a></li>
                            <li><a href="{{ path("dietetique") }}">Diététique thérapeutique</a></li>
                            <li><a href="{{ path("idees") }}">Idées recettes</a></li>
                            <li><a href="{{ path("semainier") }}">Semainier</a></li>
                        </ul>
                    </section>
                    <section id="links">
                        <ul>
                            <li><a href="{{ path("contact") }}">Me contacter</a></li>
                            <li><a href="{{ path("contact") }}">Demander un devis</a></li>
                        </ul>
                    </section>
                    <div style="clear:both;"></div>
                    <section id="infos">
                        <p><a href="https://www.facebook.com/sonutri.diet" target="_blank"><img src="/images/facebook.png"><span id="facebook-text">Rejoignez-moi sur Facebook</span></a></p>
                        <p>2015 So'Nutri. Tout droits réservés.</p>
                    </section>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
