<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}So nutri dieteticienne{% endblock %}</title>

        <meta name="description" content="{% block description %}So nutri dieteticienne{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}So nutri dieteticienne{% endblock %}" />

        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="author" href="https://plus.google.com/u/0/104544318440337923153"/>

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-29682017-2', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body>
        {% block body %}
            <header>
                <section id="logo">
                    <a href="{{ path("homepage") }}">
                        <img src="{{ asset('images/logo.png') }}">
                        <p>La diététique à domicile</p>
                    </a>
                </section>
                <nav>
                    <ul>
                        <li><a href="{{ path("homepage") }}"><img src="{{ asset('images/home.png') }}"></a></li>
                        <li><a href="{{ path("coaching") }}">coaching diététique</a></li>
                        <li><a href="{{ path("prestations") }}">prestations externes</a></li>
                        <li><a href="{{ path("tarifs") }}">tarifs</a></li>
                        <li><a href="{{ path("quisuisje") }}">qui suis-je ?</a></li>
                    </ul>
                </nav>
            </header>

            <div id="breadcrumb">
                <ul>
                    <li><a href="{{ path("homepage") }}"><img src="{{ asset('images/home.png') }}"></a></li>
                    <li>{% block breadcrumbFirst %}{% endblock %}</li>
                </ul>
            </div>

            <div style="clear:both;"></div>

            <section id="main">
                <section id="content">
                    <h1>{% block mainTitle %}{% endblock %}</h1>
                    <hr id="title-bar">
                    {% block content %}
                    {% endblock %}
                    {% block contact %}
                        <section id="actions">
                            <div>
                                <a href="{{ path("contact") }}"><button id="devis">Demander un devis</button></a>
                                <a href="{{ path("contact") }}"><button id="contact">Me contacter</button></a>
                            </div>
                        </section>
                    {% endblock %}
                </section>

                <section id="contextual">
                    <nav>
                        <ul>
                            <li id="zones">
                                <a href="{{ path("zones") }}">
                                    <div class="menu-label">zone d'intervention</div>
                                    <div class="picto"><img src="{{ asset('images/zones.png') }}" /></div>
                                </a>
                            </li>
                            <li id="therapeutique">
                                <a href="{{ path("dietetique") }}">
                                    <div class="menu-label">diététique thérapeutique</div>
                                    <div class="picto"><img src="{{ asset('images/therapeutique.png') }}" /></div>
                                </a>
                            </li>
                            <li id="idees">
                                <a href="{{ path("idees") }}">
                                    <div class="menu-label">idées recettes</div>
                                    <div class="picto"><img src="{{ asset('images/idees.png') }}" /></div>
                                </a>
                            </li>
                            <li id="semainier">
                                <a href="{{ path("semainier") }}">
                                    <div class="menu-label">semainier</div>
                                    <div class="picto"><img src="{{ asset('images/semainier.png') }}" /></div>
                                </a>
                            </li>
                            <li id="temoignages">
                                <a href="{{ path("temoignages") }}">
                                    <div class="menu-label">témoignages patients</div>
                                    <div class="picto"><img src="{{ asset('images/temoignages.png') }}" /></div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <section id="portrait">
                        <a href="{{ path("quisuisje") }}">
                            <h2>Sophie Paulin</h2>
                            <h3>Diététicienne nutritionniste</h3>
                            <img src="{% block portrait %}{{ asset('images/soso-' ~ random(3) ~ '.jpg') }}{% endblock %}"/>
                        </a>
                    </section>
                    <section id="actu">
                        <a href="{{ path("actu") }}">
                            <h2>Actu nutrition</h2>
                            <h3>Un nouveau regard sur l'étiquetage nutritionnel</h3>
                            <img src="{{ asset('images/actu.png') }}">
                        </a>
                    </section>
                    <section id="imc" style="min-height: 235px;">
                        <h2>Je calcule mon IMC</h2>
                        <img src="{{ asset('images/imc.png') }}">
                        <div style="float: left;width: 140px;padding: 0 10px;">
                            <input id="poids" type="text" placeholder="Poids(kg)">
                            <input id="taille" type="text" placeholder="Taille(m). ex : 1.80 ">
                            <button type="submit" >Calculer mon IMC</button>
                            <script type="application/javascript">
                                $(document).ready(function(){
                                   $('#imc button').on('click', function() {
                                       var size = $('#taille').val();
                                       size = size.replace(',', '.');
                                       size = parseFloat(size);
                                       var weight = $('#poids').val();
                                       weight = weight.replace(',', '.');
                                       weight = parseFloat(weight);

                                       var imc = Math.round(weight / (size * size));

                                       var text = '';
                                       if (imc < 16.5) {
                                           text = "Votre IMC est de "+imc+"  , vous état en étant de dénutrition. Veuillez consultez un médecin en urgence.";
                                       } else if (imc <= 18.9) {
                                           text = "Votre l'IMC est de "+imc+" , vous êtes en état de maigreur. N'hésitez pas à prendre rendez-vous avec votre diététicienne pour une reprise de poids et une santé à toute épreuve !";
                                       } else if (imc <= 24.9) {
                                           text = "Votre IMC est de "+imc+"., vous êtes de corpulence normale. Félicitations et gardez le cap !";
                                       } else if (imc <= 29.9) {
                                           text = "Votre IMC est de "+imc+"., vous êtes en surpoids. N'hésitez pas demander conseil auprès de votre diététicienne pour retrouver votre poids d'équilibre.";
                                       } else if (imc <= 34.9) {
                                           text = "Votre IMC est de "+imc+", vous êtes en situation d'obésité modérée. N'hésitez pas à prendre rendez-vous avec votre diététicienne pour préserver votre santé.";
                                       } else if (imc <= 39.9) {
                                           text = "Votre IMC est de "+imc+"., vous êtes en situation d'obésité sévère. Prenez rapidement rendez-vous avec votre diététicienne pour perdre du poids et préserver votre santé.";
                                       } else if (imc > 39.9) {
                                           text = "Votre IMC est de "+imc+"., vous êtes en situation d'obésité très sévère dite \"morbide\" avec des risques pour la santé important. Prenez rende-vous au plus vite avec votre diététicienne.";
                                       }

                                       $('#imc-result').html(text);
                                   });
                                });
                            </script>
                            <div style="clear:both;"></div>
                        </div>
                        <div id="imc-result" style="padding:10px;float:left"></div>

                    </section>
                </section>
            </section>
            <div style="clear:both;"></div>

            <footer>
                <div id="container">
                    <section id="logo-footer"><a><img src="{{ asset('images/logo-footer.png') }}"></a></section>
                    <section id="menu-first">
                        <ul>
                            <li><a href="{{ path("coaching") }}">Coaching diététique</a></li>
                            <li><a href="{{ path("prestations") }}">Préstations externes</a></li>
                            <li><a href="{{ path("tarifs") }}">Tarifs</a></li>
                            <li><a href="{{ path("quisuisje") }}">Qui suis-je ?</a></li>
                        </ul>
                    </section>
                    <section id="menu-contextual">
                        <ul>
                            <li><a href="{{ path("zones") }}">Zones d'intervention</a></li>
                            <li><a href="{{ path("temoignages") }}">Témoignages patients</a></li>
                            <li><a href="{{ path("dietetique") }}">Diététique thérapeutique</a></li>
                            <li><a href="{{ path("idees") }}">Idées recettes</a></li>
                            <li><a href="{{ path("semainier") }}">Semainier</a></li>
                        </ul>
                    </section>
                    <section id="links">
                        <ul>
                            <li><a href="{{ path("contact") }}">Me contacter</a></li>
                            <li><a href="{{ path("contact") }}">Demander un devis</a></li>
                        </ul>
                    </section>
                    <div style="clear:both;"></div>
                    <section id="infos">
                        <p><a href="https://www.facebook.com/profile.php?id=100009103544962" target="_blank"><img src="/images/facebook.png"><span id="facebook-text">Rejoignez-moi sur Facebook</span></a></p>
                        <p>Bénéficiaire d'un contrat CAPE n°09180 jusqu'au 01/02/2016 maximum - Espace des Entrepreneurs Antenne de DOUAI - Siège 4 Rue des buisses 59800 LILLE - N° de SIRET 418 541 553 00032</p>
                        <p>2015 So'Nutri. Tout droits réservés.</p>
                    </section>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
