{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}
{% block mainTitle %}
    Contact
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Contact</a></strong>{% endblock %}
{% block content %}

    <div style="float:left;width:40%;">
        <img src="{{ asset('/images/contact.jpg') }}" />
        <p style="background:#cbca6b;padding: 15px 16px;margin-top: -5px;width: 211px;text-align: center;"><strong>Consultations uniquement sur rendez-vous</strong></p>
        <p style="width: 211px;text-align: center;color:#640433;"><strong>Tél : 06 71 41 79 43</strong></p>
        <p style="width: 211px;text-align: center;color:#640433;"><strong>Email : sonutri59@gmail.com</strong></p>
    </div>

    <h2>Formulaire de contact</h2>
    {% if form_errors(form)|length > 0 %}
        <div class="flash">
            {{ form_errors(element) }}
        </div>
    {% endif %}
    <form action="{{ path('contact') }}" method="post">
        <p>
            {% if form_errors(form.subject)|length > 0 %}
                {{ form_widget(form.subject, { 'attr':{'placeholder': 'Objet', 'class': 'errorInput' }}) }}
            {% else %}
                {{ form_widget(form.subject, { 'attr':{'placeholder': 'Objet'|trans }}) }}
            {% endif %}

        </p>

        <p>
            {% if form_errors(form.email)|length > 0 %}
                {{ form_widget(form.email, { 'attr':{'placeholder': 'Email', 'class': 'errorInput' }}) }}
            {% else %}
                {{ form_widget(form.email, { 'attr':{'placeholder': 'Email' }}) }}
            {% endif %}

        </p>

        <p>
            {% if form_errors(form.content)|length > 0 %}
                {{ form_widget(form.content, { 'attr':{'placeholder': 'Message', 'class': 'errorInput' }}) }}
            {% else %}
                {{ form_widget(form.content, { 'attr':{'placeholder': 'Message'}}) }}
            {% endif %}
        </p>

        {{ form_rest(form) }}

        <p class="submit">
            <input type="submit" value="{{ 'Envoyer' }}"/>
        </p>
    </form>

{% endblock %}

{% block contact %}
{% endblock %}
